* {
	background-color: #2c3e50;
	font-family: sans-serif;
	color: #fff;
}

body {
	width: 40rem;
	border: 2px solid #2c3e50;
	margin: 1rem auto;
	display: flex;
	justify-content: space-evenly;
}

.player-card {
	width: 12.5rem;
	height: 12.5rem;
	margin: 1.25rem;
	border-radius: 10%;
	background-color: #ddd;
	text-align: center;
	line-height: 12.5rem;
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	opacity: 1;
	background-repeat:no-repeat;
	background-position: center center;
}

.player-card:nth-child(2) {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

button {
	width: 25rem;
	border: 2px solid #fff;
	margin: 1.25rem auto;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 1rem;
}

button:hover {
	background-color: #e67e22;
	transition : all 200ms ease-out;
}

p {
	text-align: center;
	min-height: 3.75rem;
}

p, button {
	font-size: 1.25rem;
}
